*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #F6F6F6;
  background-image: radial-gradient(#EA580C 0.5px, transparent 0.5px);
  background-size: 20px 20px;
}

/* TEXT */
.text {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1, h3 {
  color: #8B4513;
  margin: 0;
}

p {
  margin: 0;
}

/* ===== HEADER ===== */
header {
  width: 100%;
  height: 80px;
  padding: 1rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: 'playfair display';
  font-style: italic;
}

.logo h1 {
  margin: 0;
  color: #474747;
}

.logo img {
  width: 40px;
  height: auto;
}

/* ===== NAVIGATION ===== */
.header-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#hamburger {
  height: 100%;
  padding: 8px;
  border: none;
  display: none;
}

#nav-links {
  padding: 0;
  display: flex;
  gap: 0.2rem;
  list-style: none;
}

#nav-links li {
  padding: 0.2rem 0.8rem;
  border-radius: 15px;
}

#nav-links li a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

/* Hide divider + extra links on desktop */
#nav-links :nth-child(5),
#nav-links :nth-child(6),
#nav-links :nth-child(7) {
  display: none;
}

/* Active tab highlight (THIS PAGE = 4th item) */
#nav-links li:nth-child(4) {
  background-color: #EA580C;
}

#nav-links li:nth-child(4) a {
  color: white;
}

/* Divider line */
.right-buttons {
  width: 100%;
  margin: 8px 0;
  border: 1px solid rgba(71, 71, 71, 0.5)
}

/* ===== RIGHT HEADER BUTTONS ===== */
.header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#logout-btn {
  width: 120px;
  padding: 0.6rem 1.2rem;
  border: 0.10rem solid #474747;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  text-decoration: none;
  font-weight: bold;
  color: #474747;
}

#user {
  padding: 0.6em;
  border: 0.10rem solid #474747;
  border-radius: 25px;
}

/* ===== PUSH CONTENT BELOW NAV ===== */
.page {
  padding: 96px 24px 16px;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

/* Stats */
.stats {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 16px 0;
  flex-wrap: wrap;
}

.stat-card {
  border: 2px solid #EA580C;
  padding: 25px 20px;
  border-radius: 8px;
  flex: 1;
  min-width: 250px;
  background: white;
}

.stat-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-value p {
  font-weight: bold;
  font-size: 18px;
}

img {
  width: 24px;
  height: auto;
}

/* Filters */
.filters {
  display: flex;
  gap: 12px;
  padding: 16px 0;
  flex-wrap: wrap;
}

.search-bar {
  flex: 2;
  padding: 20px 12px;
  border: 2px solid #EA580C;
  border-radius: 8px;
  font-size: 16px;
}

.dropdown {
  padding: 8px 12px;
  border: 2px solid #EA580C;
  border-radius: 8px;
  font-size: 16px;
}

.button {
  background-color: #EA580C;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  display: flex;              
  justify-content: center;     
  align-items: center;
}

/* Table */
.table-section {
  margin: 16px 0;
  border: 2px solid #EA580C;
  border-radius: 8px;
  padding: 16px 20px;
  overflow-x: auto;
  background: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12px;
  min-width: 700px;
}

.delete-btn{
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #EA580C;
}

/* Role badges */
.badge {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 12px;
}

.vendor {
  background-color: #D0E8FF;
  color: #1E40AF;
}

.customer {
  background-color: #DCFCE7;
  color: #166534;
}

.admin {
  background-color: #F3E8FF;
  color: #6B21A8;
}

/* ===== MOBILE NAV ===== */
@media (max-width: 905px) {
  #hamburger {
    display: flex;
  }

  #nav-links {
    width: 100%;
    margin: 0;
    padding: 1.5rem;
    border-radius: 0px 0px 15px 15px;

    display: none;
    flex-flow: column nowrap;
    gap: 0.4rem;

    position: absolute;
    top: 78px;
    right: 0px;

    background-color: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }

  #nav-links.active {
    display: flex;
  }
}

@media (max-width: 460px) {
  .header-right {
    display: none;
  }

  #nav-links :nth-child(5),
  #nav-links :nth-child(6),
  #nav-links :nth-child(7) {
    display: flex;
  }
}

/* ===== MOBILE PAGE LAYOUT ===== */
@media (max-width: 576px) {
  .stats,
  .filters {
    flex-direction: column;
  }

  .stat-card {
    min-width: 100%;
  }
}
